@keyframes rotate-keyframes {
  from {
   transform: rotate(0deg);
  }
 
  to {
   transform: rotate(360deg);
  }
 }
 .search-form{
   margin-top:1rem;
 }
.search-form__section-1{
 display: flex;
 align-items: center;
}
.search-form__section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:0.625rem;
 }
 .search-form__units{
   width: 75%;
   display: flex;
   justify-content: space-between;
 }
.search-form__input{
  font-family: 'Ledger', serif;
  font-size: 1rem;
  padding: 0 0.8rem; 
  color:#fff;
  border-radius: 0.6rem;
  background-color:rgba(76, 82, 85, 0.4);
  height: 2.8125rem;
  border:0.07rem solid rgba(228, 227, 227, 0.2);
}
.search-form__input::placeholder{
  color:rgba(255, 255, 255, 0.712);
}
.search-form__button{
  font-family: 'Ledger', serif;
  font-size: 0.88rem;
  background-color: rgba(177, 177, 177, 0.6);
  color:#fff;
  width:6rem;
  height: 2.8125rem;
  border-radius:0.6rem ;
  margin-left:1rem;
  padding: 0;
  border:0;
}
.refresh-container{
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(177, 177, 177, 0.6);
  border-radius: 0.6rem;
  margin-right: 1rem;
}
.search-form__refresh{
  width: 3.125rem;;
  height: 3.125rem;;
  background-position: center;
  background-image: url('../../../assets/images/refresh.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.rotate{
  animation: rotate-keyframes 1.1s;
}
.search-form__unit{
  font-family: 'Ledger', serif;
  font-size: 1rem;
  color:#fff;
  width: 2.6rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(76, 82, 85, 0.4);
  border-radius: 0.6rem;
  text-transform: uppercase;
  transition: background-color  0.2s;
}
.selected{
  background-color: rgba(177, 177, 177, 0.712)
}