html,
body {
  margin:0;
  padding:0;
  font-family: 'Ledger', serif;
}
#root, #root>div, body, html {
  min-height: 100vh;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  display: flex;
  justify-content: space-around;
  padding: 1.6rem;
}
.app-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
input,button{
  outline: none;
  padding:0;
  border:0;
}
button:hover{
  cursor: pointer;
}